@tailwind base;
@tailwind components;
@tailwind utilities;

.pattern-block {
  background-color: #f1f5f9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23cbd5e1' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

.projects-block {
  background-color: #f1f5f9;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23cbd5e1' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@layer components {

  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .one-title {
    @apply md:text-xl text-lg
  }
  
  .two-title {
    @apply md:text-2xl text-xl
  }
  
  .three-title {
    @apply md:text-3xl text-2xl
  }

  .four-title {
      @apply lg:text-4xl text-3xl
  }

  .five-title {
      @apply xl:text-5xl md:text-4xl text-3xl
  }

  .six-title {
      @apply xl:text-6xl lg:text-5xl text-4xl
  }

  .seven-title {
      @apply xl:text-7xl lg:text-6xl text-5xl
  }

  .eight-title {
      @apply xl:text-8xl lg:text-7xl text-6xl
  }

  .half-responsive {
    @apply w-full lg:w-1/2
  }

  .paragraph-responsive {
    @apply text-base lg:text-lg
  }

  .transition300 {
    @apply transition transform duration-300
  }

  .transition300scale {
    @apply transition transform duration-300 hover:scale-[1.03]
  }

  .hyperlink {
    @apply font-semibold underline hover:text-blue-600 transition transform duration-300 cursor-pointer
  }
}
